.container {
  position: absolute;
  background-color: white;
  margin-left: 297px;
  width: 800px;
  height: 800px;



  .inside {
    margin-left: 30px;
    padding: 5px;
    font-size: 24px;

}

}
.title > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;

}
.title > h1 {
  font-size: 14px;
  color: #a5aaad;
  font-weight: 700;
  margin-bottom: 5px;

}